@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Parisienne');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: #7d7d7d;
  background: #fbfbfb;
}

button, a.button {
  border: 1px solid rgba(255, 255, 255, .5);
  background: transparent;
  transition: background .3s;
  font-size: .8rem;
  font-weight: 400;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  outline: none;
  cursor: pointer;
  user-select:none;
  text-decoration: none;
}

button:hover {
  background: rgba(0, 0, 0, .2);
}

button:active {
  transform: scale(.97, .97);
}

.intro {
  background: url('/resources/background/triangles-2.svg') no-repeat;
  background-size: cover;
  color: #fbfbfb;
}

nav {
  padding: 0;
  width: 100%;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-content div.right {
  display: flex;
  align-items: center;
}

nav ul.links {
  list-style: none;
  margin: 0 30px;
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
}

nav ul.links li {
  margin-left: 20px;
}

.jumbotron {
  text-align: center;
  padding: 80px;
}

.jumbotron h1 {
  font-size: 4em;
  font-weight: 300;
}

.jumbotron .text {
  margin-bottom: 70px;
}

.jumbotron .technologies {
  font-size: .9rem;
}

section {
  padding: 0;
  min-height: 300px;
}

section h2 {
  font-family: 'Parisienne', cursive;
  color: #1f498a;
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

footer {
  background: #16375f;
  padding: 40px 10px;
  text-align: center;
  font-size: .9rem;
}

footer, footer a {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h3 {
  color: white;
  font-weight: 300;
  margin: 0 0 15px 0;
}

footer a.icon {
  opacity: .8;
  padding: 0 3px;
}

footer a.icon:hover {
  text-decoration: none;
}

