@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Parisienne');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: #7d7d7d;
}

button {
  border: 2px solid #7d7d7d;
  background: inherit;
  font-size: 80%;
  color: inherit;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.intro {
  background: url('/resources/background/triangles-2.svg') no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}

nav {
  padding: 0;
  width: 100%;
}

nav button {
  border: 1px solid rgba(255, 255, 255, .5);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-content div.right {
  display: flex;
  align-items: center;
}

nav ul.links {
  list-style: none;
  margin: 0 30px;
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
}

nav ul.links li {
  margin-left: 20px;
}

.jumbotron {
  text-align: center;
  padding: 80px;
}

.jumbotron h1 {
  font-size: 4em;
  font-weight: 300;
}

.jumbotron button {
  border: 1px solid rgba(255, 255, 255, .5);
  margin-top: 30px;
}

.jumbotron .readmore {
  font-family: 'Parisienne', cursive;
  font-size: 24px;
  padding: 40px 0;
}

section {
  background: white;
  padding: 0;
  min-height: 300px;
}

section h2 {
  font-family: 'Parisienne', cursive;
  color: #1f498a;
  font-size: 200%;
  text-align: center;
  margin: 20px;
}
