@{
    Layout = "~/Views/Shared/_LayoutFrontPage.cshtml";
}

<div class="jumbotron">
    <h1>Majig</h1>
    <div class="small">Max - Alexander - Joen - Isabella - Glennie</div>
</div>

<div class="bar">
    <p><a class="large" href="@Url.Action("Index", "Images")">@Resources.Pictures &raquo;</a></p>
</div>