@import '_palette';

body {
    padding-top: 50px;
    padding-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px; 
}

a {
    color: $color1;
}

a:hover {
    color: darken($color3, 20%);
}

.image-list-item {
    height: 170px;
    float: left;
    margin: 0 10px 10px 0;
}

.image-list-item-clear {
    clear: both;
}

.image-list-item img {
    height: 100%;
}

.container-fluid.no-padding {
    padding: 0;
}

@import '_frontpage';
